.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
h3 {
    color: red;
    font-weight: bold;
  }
.pp{
    color: black;

    font-weight: bold;
}
  